.player {
  padding: 51px 42px 57px 43px;
  width: 445px;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 10px;
}

.container {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 9px 16px;
  border-radius: 10px;
  transition: all .3s ease;
}

.container:hover {
  background-color: rgb(239, 239, 239);
  cursor: pointer;
}

.container:hover .player__button {
  display: block;
}

.container:hover .player__playingIcon {
  display: none;
}

.loader {
  margin: 0 auto;
  color: var(--second-color);
}

.loader span {
  display: none;
}

.player__buttons {
  position: relative;
}

.player__button {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--main-color);
  background: transparent;
  border: none;
  cursor: pointer;
}

.player__playingIcon {
  display: block;
}

.player__track {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  width: 100%;
}

.track__name {
  line-height: 20px;
  letter-spacing: 0.15px;
}

.track__artist {
  font-size: 13px;
  color: var(--second-color);
  line-height: 16px;
  letter-spacing: 0.2px;
}

.time {
  display: flex;
  align-items: center;
}

.time__number {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: var(--second-color);
} 

.time__options {
  color: rgba(38, 136, 235, 1);
  padding: 12px 2px 12px 14px;
}