* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: rgb(255, 255, 255);
  --second-color: rgba(129, 140, 153);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #eaeaea;
}

.App {
  padding: 10px;
  display: flex;
  justify-content: center;
}

